# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# misc
.DS_Store

# editors
.idea
.history
.claude
.vscode

## Custom files
build.sh
main.js
data.json
obsidian-ai*
obsidian-save-webviewer-url
